<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Sabor Gourmet</title>
</head>

<body>
    <div class="container">
        <div id="app" class="app">
            <div v-if="mostrarMenu" class="app__item">
                <h1 class="title">{{title}}</h1>

                <button class="app__button" @click="VerMenu">Abrir Menú</button>

                <p v-if="textoMostrar">{{text1}}</p>

                <div @click="Change">
                    <p v-if="!textoMostrar">{{text2}}</p>
                    <a v-if="textoMostrar" href="#">{{text3}}</a>
                    <a v-if="!textoMostrar" href="#">{{text4}}</a>
                </div>
            </div>

            <div v-if="!mostrarMenu" class="app__item2">
                <div class="imgs">
                    <h1 class="title title__img">{{Menu[num].title}}</h1>
                    <img :src="Menu[num].img1" :alt="Menu[num].descripcion1" class="img1">
                    <img :src="Menu[num].img2" alt="Menu[num].descripcion2" class="img2">
                    <img :src="Menu[num].img3" alt="Menu[num].descripcion3" class="img3">
                    <img :src="Menu[num].img4" alt="Menu[num].descripcion4" class="img4">
                    <img :src="Menu[num].img5" alt="Menu[num].descripcion5" class="img5">
                    <img :src="Menu[num].img6" alt="Menu[num].descripcion6" class="img6">
                    <div class="img7">hola</div>
                    <div @click='num--'><img src="/img/Icons/left.svg" alt="" class="aLeft"></div>
                    <div @click='num++'><img src="/img/Icons/right.svg" alt="" class="aRight"></div>
                </div>
                <button class="app__button" @click="VerMenu">Cerrar Menú</button>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>